// ------------------------------------------------------------------
// Shower
// ------------------------------------------------------------------

.shower {
	color:black;
	counter-reset:slide;
	font-family: 'robotoregular', sans-serif;
	font-size: 25px;
	//font-weight: normal;
	line-height: 150%;

	-webkit-print-color-adjust:exact;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	// Print

	@media print {
		text-rendering:geometricPrecision;
		}

	}
