// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------


blockquote {

	font-style:italic;
	$border: hsl(0, 0%, 90%) !default;
	border-left: 4px solid $border;
	padding: 0.6em 1.2em;
	font-size:22px;
	color:$grey;

	&::before {
		position:absolute;
		margin:-0.15em 0 0 -0.43em;
		color:#CCC;
		line-height:1;
		font-size:8em;
	}

	// Author

	& + figcaption {
		color:#CCC;
		padding: 0em 1.2em;
		margin:-1em 0 1em;
		font-style:italic;
		font-weight:bold;
	}

	}
