// ------------------------------------------------------------------
// Shout
// ------------------------------------------------------------------

.shout {

	position:absolute;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
	line-height:1;
	transform:translateY(-50%);
	font-size:100px;
	a {
		@include underline(currentColor, 0.11);
		}

	}
h1.shout {
	font:bold 120px/1 'robotoregular', sans-serif;
	font-size:120px;
}
h2.shout {
	font:bold 100px/1 'robotoregular', sans-serif;
	font-size:100px;
}
h3.shout {
	font:bold 80px/1 'robotoregular', sans-serif;
	font-size:80px;
}
